{% extends 'news/base.html' %}
{& load static %}


{% block content %}
        {% block title %}DETAIL{% endblock title %}
        
<div style="margin: 30 px;">

<h2>BATAFSIL MA`LUMOTLAR</h2>
        <h3 style="font-weight: bold; text-align: left; margin: 0">{{ new.title }}</h3>
        <br>
        <p style="text-align: left;">{{ new.body }}</p>
        {% if new.image %}
    <img style="margin-bottom: 200px;" src="{{ new.image.url }}" alt="Buyerda rasm turibdi">
        {% endif %}
        <br>
        {% if new.video %}
          <video controls width="100%"><source src="{{ new.video.url }}" type="video/mp4"></video>
        {% endif %}
  </div>
    {% endblock content %}